@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kiryu-shirt: #741920;
  --kiryu-shirt-dark: #410e11;
  --kiryu-jacket: #c5c8cb;
  --kiryu-jacked-dark: #939597;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-color: var(--kiryu-jacket);
  overflow: hidden;
  padding: 0 1.5rem;
}

#kiryu-tattoo-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(
      ellipse at top,
      var(--kiryu-shirt),
      var(--kiryu-shirt-dark)
    ),
    radial-gradient(
      ellipse at bottom,
      var(--kiryu-shirt),
      var(--kiryu-shirt-dark)
    );
  width: 99.99vw;
  height: 99.99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#kiryu-tattoo {
  max-width: 90%;
  max-height: 90%;
  filter: grayscale(100%);
}

#tojo-clan-crest {
  position: absolute;
  /* top: -25%; */
  /* right: -25vw; */
  /* width: 75vw; */
  /* height: 1330px; */
  z-index: -1;
  fill: var(--kiryu-jacked-dark);
}

.animation-container {
  /* position: relative; */
  position: relativee;
}

.animation {
  max-width: 256px;
  position: absolute;
  left: -256px;
}

/* #kiryu-tattoo-path {
  fill: transparent;
  stroke: var(--kiryu-jacket);
  stroke-width: 2px;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  visibility: hidden;
} */
